html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
}
